<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
      <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }  
    </style>
  </head>
  <body>
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">
<!--
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">URWeb</a>
        </div>
-->
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
<!--            <li class="active"><a href="#">Back</a></li>-->
              <button onclick="location.href='.'" class="btn navbar-btn">Back</button>
          </ul>
            
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Plugins
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#" data-toggle="modal" data-target="#addPlugin" onclick="addPluginModalLoad()">Add Plugin</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#viewPlugin">View Plugin</a></li>
                </ul>
              </li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Username</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="map" style="max-height: 80%;"></div>
<!--
    <ul class="list-group" style="max-height: 80%; max-width: 25%; /*margin-left: auto; margin-right: 0; top: -15px;*/">
        <li class="list-group-item">Pisi</li>
    </ul>
-->
     <div class="form form-inline text-right" onload="getListOfPlugins()">
      <div class="form-group">
        <label for="sel1">Plugin:&nbsp;</label>
        <select class="form-control" id="selection1">
        </select>
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-default">Select</button>
         </div>
      </div>
    
    <div>
      <button class="btn btn-default" onclick="getDoc()">Refresh</button>
      <label>Some text:</label>
      <label id="txtItem33">TEEER</label>
    </div>
    <div id = "plugin-data">
      
    </div>
      
      
    
    <!-- Modals -->
    <!-- ----------------- -->
    <!-- Modal -->
    
    <div id="addPlugin" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Plugin</h4>
          </div>
          <div id="alertZone">
            <!-- <div class="alert alert-success">
                <strong>Success!</strong> The file has been uploaded!
            </div> -->
          </div>
          <div class="modal-body">
             <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="plname">Plugin:</label>
                <div class="col-sm-10">
                  <input class="form-control" id="plname" placeholder="Enter plugin name">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pldesc">Description:</label>
                <div class="col-sm-10">
                  <input class="form-control" id="pldesc" placeholder="Enter plugin description">
                </div>
              </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="brs">Archive:</label>
                    <div class="col-sm-10">
                    <span class="btn btn-default btn-file" id="brs">
                        <input type="file" name="inputArchive">
                    </span>
                    <span id="arctip" title="Upload a zip archive which contains a .py file and an optional .html file" data-html="true" rel="tooltip" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </div>
                </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <!-- HERE PUT DATA AND VERIFY IT -->
                  <button type="button" class="btn btn-primary pull-right" onclick="submitPlugin()">Submit</button>
                </div>
              </div>
            </form>
            
            <!-- ADD BS ALERTS TO NOTIFY USER IF PLUGIN WAS ADDED -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    
    <!-- Modal -->
    <div id="viewPlugin" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Plugins</h4>
          </div>
          <div class="modal-body">
            <div class="list-group">
                <!-- info -->
                 <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">View custom nearby places</a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                      <div class="panel-body">Description: Allows the user to select options regarding the type of nearby places to view on map and filters for those points of interest</div>
                    </div>
                  </div>
                </div>
                <!-- info -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    
    <!-- End of Modals -->
      
      
    <!-- Scripts -->
    <!-- ----------------- -->
    <script>
    $(document).ready(function() {
      $.ajax({
        type: 'get',
        url: '../api/plugins',
        processData:false,
        success:function(data)
        {
          var div = document.getElementById("selection1")
          div.innerHTML = data
        },
        failure:function(data)
        {
          var div = document.getElementById("selection1")
          div.innerHTML = '<option>Error<option>'
        }
      })
      var div = document.getElementById("selection1")
      div.innerHTML = '<option>mere</option><option>ana</option>'

    })
    function addPluginModalLoad()
    {
      var div = document.getElementById("alertZone")
      div.innerHTML = ''
    }
    function submitPlugin(){
      var pluginName = document.getElementById("plname").value
      var description = document.getElementById("pldesc").value
      var data = {name: pluginName, desc: description}
      var regexVerifier = new RegExp("^[A-Za-z0-9.@!#$%_]+$")
      if (regexVerifier.test(pluginName) == false || regexVerifier.test(description) == false)
      {
        var div = document.getElementById("alertZone")
        div.innerHTML = '<div class="alert alert-warning"><strong>Warning!</strong> Invalid data in required fields!</div>'
      }
      else{
        $.ajax({
          type: 'put',
          url: '../api/plugins',
          data: JSON.stringify(data),
          processData:false,
          success:function(data){
            if (data === "OK")
            {
              var div = document.getElementById("alertZone")
              div.innerHTML = '<div class="alert alert-success"><strong>Success!</strong> The file has been uploaded!</div>'
            }
            else
            {
              var div = document.getElementById("alertZone")
              div.innerHTML = '<div class="alert alert-danger"><strong>Something Failed!</strong> Error: ' + data + '</div>'
            }
          },
          failure:function(error){
            var div = document.getElementById("alertZone")
            div.innerHTML = '<div class="alert alert-danger"><strong>Something Failed!</strong> Error: ' + error + '</div>'
          }
        });
      }
    }
    // $('#addPlugin').modal({
    //   backdrop: 'static',
    //   keyboard: false
    // })
    $("#arctip").tooltip({
        placement: "top"
    });
        
    function appendHtml(id, el, str) {
  var div = document.getElementById(id);
  div.innerHTML = str;
}
    var origin = {lat: -34.397, lng: 150.644};
    var origin2;
    // var origin2 = new Object();
    // origin2.lat_ = origin['lat'];

    // origin2.lat = function() {
    //   return this.lat_;
    // }

    // origin2.lng_ = origin['lng'];
    
    // origin2.lng = function() {
    //   return this.lng_;
    // }
    var map, infoWindow;
    function getDoc(){
      console.log("function getDoc()");
      
      console.log(origin2);
      if (origin2)
      {
        temp = {lat: origin2.lat(), lng: origin2.lng()}
      }
      else
      {
        temp = {lat: origin.lat, lng: origin.lng}
      }
      $.post('/gba/temp', temp, function(response){
        // document.getElementById("plugin-data").innerHtml = response;
        // console.log("data");
        // alert(response);
        appendHtml("plugin-data", document.body, response);
      });
    }
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      function initMap(zoom_ = 17) {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: zoom_
        });
        infoWindow = new google.maps.InfoWindow;
      	
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            origin.lat = pos.lat;
            origin.lng = pos.lng;
            map.addListener('dblclick', function(event) {
                addMarker(event.latLng);
            });
            
            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
        var clickHandler = new ClickEventHandler(map, origin);	
      }
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
        markers.push(marker);
      }

		var ClickEventHandler = function(map, origin) {
        this.origin = origin;
        this.map = map;
        this.directionsService = new google.maps.DirectionsService;
        this.directionsDisplay = new google.maps.DirectionsRenderer;
        this.directionsDisplay.setMap(map);
        this.placesService = new google.maps.places.PlacesService(map);
        this.infowindow = new google.maps.InfoWindow;
        this.infowindowContent = document.getElementById('infowindow-content');
        this.infowindow.setContent(this.infowindowContent);

        // Listen for clicks on the map.
        this.map.addListener('click', this.handleClick.bind(this));
      };

      ClickEventHandler.prototype.handleClick = function(event) {
        console.log('You clicked on: ' + event.latLng);
        origin2 = event.latLng
        // origin2.lat = myvar.lat();
        // origin2.lng = myvar.lng();
        // If the event has a placeId, use it.
        if (event.placeId) {
          console.log('You clicked on place:' + event.placeId);

          // Calling e.stop() on the event prevents the default info window from
          // showing.
          // If you call stop here when there is no placeId you will prevent some
          // other map click event handlers from receiving the event.
          event.stop();
          this.calculateAndDisplayRoute(event.placeId);
          // this.getPlaceInformation(event.placeId);
        }
      };

      ClickEventHandler.prototype.calculateAndDisplayRoute = function(placeId) {
        var me = this;
        this.directionsService.route({
          origin: this.origin,
          destination: {placeId: placeId},
          travelMode: 'WALKING'
        }, function(response, status) {
          if (status === 'OK') {
            me.directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      };

      ClickEventHandler.prototype.getPlaceInformation = function(placeId) {
        var me = this;
        this.placesService.getDetails({placeId: placeId}, function(place, status) {
          if (status === 'OK') {
            me.infowindow.close();
            me.infowindow.setPosition(place.geometry.location);
            me.infowindowContent.children['place-icon'].src = place.icon;
            me.infowindowContent.children['place-name'].textContent = place.name;
            me.infowindowContent.children['place-id'].textContent = place.place_id;
            me.infowindowContent.children['place-address'].textContent =
                place.formatted_address;
            me.infowindow.open(me.map);
          }
        });
      };

      function refresh() {
          var integer = parseInt(document.getElementById('zoom').value); 
//          console.log(document.getElementById('zoom').value);
//          console.log(integer);
          if(!integer) {
              integer = 17;
          }
//          initMap(integer);
          map.setZoom(integer);
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXYDYmpNXAo01aw71oMT6KJXoI1aTTyvg&libraries=places&callback=initMap">
    </script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXYDYmpNXAo01aw71oMT6KJXoI1aTTyvg&libraries=places&callback=initMap"
        async defer></script>
  </body>
</html>